In [1]:
import numpy as np
import pandas as pd
from pandas import Series ,DataFrame
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import metrics
import pickle

In [2]:
dataset = pd.read_csv('data.csv')

In [3]:
dataset

,Name,Total Cases,Total Death,Recovery Rate,Mortality Rate,Epidemic
0,Smallpox\t,150000000.0,15000000.0,30.0,30.0,1.0
1,Plague,15000000.0,2500000.0,15.0,45.0,1.0
2,VFH,100000000.0,8000000.0,45.0,20.0,1.0
3,Typhus,200000.0,20000.0,25.0,15.0,0.0
4,Spanish Flu,500000000.0,50000000.0,50.0,50.0,1.0
5,HIV-AIDS Epidemic,37000000.0,940000.0,35.0,40.0,1.0
6,SARS-CoV,8422.0,922.0,30.0,11.0,0.0
7,Swine-flu,1000000.0,284500.0,20.0,50.0,1.0
8,Ebola,28616.0,11300.0,20.0,70.0,1.0
9,Covid-19,95612831.0,2066176.0,70.0,3.0,1.0
10,Malaria,80000000.0,3000000.0,30.0,60.0,0.0
11,Hong-Kong Flu,10000000.0,1000000.0,90.0,10.0,0.0
12,Asian-Flue,20000000.0,200000.0,70.0,15.0,0.0
13,The Black Death,100000000.0,2000000.0,50.0,40.0,1.0
14,Antonine Plague,1000000.0,10000.0,85.0,5.0,0.0
15,Sixth-Cholera,11000000.0,80000.0,65.0,10.0,0.0
16,Flu,1000000.0,100000.0,90.0,10.0,0.0
17,Plague of Justinian,5000000.0,2500000.0,50.0,50.0,1.0
18,Plague of Cyprian1000000100008170,NaN,NaN,NaN,NaN,NaN

In [37]:
dataset.shape

(20, 6)

In [38]:
train, test = train_test_split(dataset, test_size=0.3)

In [41]:
print(train.shape)

(14, 6)

In [42]:
print(test.shape)

(6, 6)

In [44]:
train_x = train[['Total Cases','Total Death','Recovery Rate','Mortality Rate']]
train_y = train.Epidemic

In [45]:
test_x = train[['Total Cases','Total Death','Recovery Rate','Mortality Rate']]
test_y = train.Epidemic

In [46]:
train_x.head()

    Total Cases  Total Death  Recovery Rate  Mortality Rate
0     150000000     15000000             30              30
7          8422          922             30              11
5     500000000     50000000             50              50
18      5000000      2500000             50              50
2     100000000      8000000             45              20

In [47]:
train_y.head()

0     1
7     0
5     1
18    1
2     1
Name: Epidemic, dtype: int64

In [2]:
model = svm.SVC()
model.fit(train_x,train_y)
prediction = model.predict(test_x)

NameError: name 'svm' is not defined

In [74]:
print(metrics.accuracy_score(prediction,test_y))

0.7142857142857143

In [75]:
data_set = np.array([[150000000,15000000,30,30]])
data_set.shape

(1, 4)

In [1]:
prediction = model.predict(data_set)

NameError: name 'model' is not defined

In [79]:
pickle.dump(model,open('model.pkl','wb'))